.col-md-12.col-lg-8
  .card.mb-4
    .card-block
      #container2{:style => "min-width: 310px; height:430px; margin:0 auto;"}
.col-md-12.col-lg-4
  .card.mb-4
    .card-block
      %h3.card-title Suhu (*C)
      #testSegInsideResizable.exampleContainer.resizableExample
        #suhu
  .card.mb-4
    .card-block
      %h3.card-title Kelembaban (%)
      #testSegInsideResizable.exampleContainer.resizableExample
        #kelembaban
