.col-md-12.col-lg-12
  .card.mb-4
    .card-block
      %h3.card-title History
      .table-responsive
        %table.table.table-striped
          %thead
            %tr
              %th Waktu
              %th Nilai Suhu
              %th Nilai Kelembaban
          %tbody
            - @measurements.each do |m|
              %tr
                %td= m.created_at
                %td= m.value_temp
                %td= m.value_hum
